.leftMenuContent{
padding: 0%;
position: fixed;
text-align: center;
width:fit-content;
display: block;
background: #00000000;
}
.menuConntent{
background: #000000; 
padding: 10px;
}

.item{
background: #000000;
color: royalblue;
font-size: calc(1.2vw + 0.5vh + 0.3vmin);
position:relative;
align-content:center;
display:block;
}
.item:hover{
background: #f1c40f;
}

