.leftMenuContent{
padding: 0%;
position: relative;
text-align: center;
width:fit-content;
display: block;
background: transparent;
margin-top: 2%;
margin-bottom: 2%;
}
.menuContent{
background: #000000; 
padding: 10px;
}

.item{
font-size: calc(1.2vw + 0.5vh + 0.3vmin);
position:relative;
align-content:center;

}
.item:hover{
    background: orangered;
}
#yy {
    color:white;
}
#t {
    color:aquamarine;
}
#v{
    color:greenyellow;
}
#w{
    color:yellow;
}
#o{
    color:grey;
}
#lov{
    color: red;
}
#li{
    color: orange
}
#to{
    color: lightseagreen;
}