body{
  margin:0;
  padding:0;
}
.box{
  position: relative;
  background: #01fee0;
  padding: 5px;
  overflow: hidden;
}
.box a{
  width:20px;
  height:20px;
  position: relative;
  float: left;
  text-indent:-9999px;
  
  cursor: pointer;
  border-radius: 50%;
  padding: 0.3%;
  margin-top: 10px;
  margin-left: 10px;
}
#white{
  background: #FFFFFF;
}
#blue{
  background: #3498db;
}
#green{
  background: #2ecc71;
}
#gray{
  background: #34495e;
}
#yellow{
  background: #f1c40f;
}
#orange{
  background: #e67e22;
}
#red{
  background: #e74c3c;
}
#black{
  background: #000000;
}
#spaceBetween {
  padding: 0.5%;
  font-size: calc(1.3vw + 0.5vh + 0.3vmin);
  font-family: 'Courier New', Courier, monospace;
  margin-top: 10px;
  float: right;
  color: #000000;
}
#search{
  padding: 10px;
  margin-top: 10px;
  margin-left: 10px;
  width: 50%;
  height: 10px;
  font-size: calc(1.3vw + 0.5vh + 0.3vmin);
}
.topMenu{
  overflow: hidden;
  position: relative;
  text-align: center;
  align-self: auto;
  background: darkblue;
}
.menuLink{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 24px;
  background: blue;
  color: #01fee0;
  text-decoration: none;
  padding: 1%;
  margin:0.5%;
  display: inline-flex;
  border-radius: 5ex;
  border-block-start-color: red;
}
.menuLink:hover{
  background: yellow;
  color: #000000;
}
#socialMedia{
  position: absolute;
  font-size: 34px;
  padding:1%;
  width: 26px;
  float: left;
  display: relative;
}
.searchBox{
  text-align: center;
}
.header{
  align-content: center;
  align-items: center;
  align-self: center;
  font-size: 48px;
  font-display: initial;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: darkblue;
}
.mainPage{
  background-position: 35%;
  background: #000000;

  margin:25%;
  position: relative;
}
.mainPage h1{
  text-align: center;
  color:yellow;
  font-size: calc(1.3vw + 0.5vh + 0.3vmin);
}